requests==2.33.0
beautifulsoup4==4.12.3
psycopg2-binary==2.9.9
dbt-postgres==1.8.2
deepdiff>=8.6.2
pandas==2.2.2
spacy==3.7.4
streamlit>=1.37.0
pillow>=12.2.0
plotly==5.22.0
pytest==9.0.3
python-dotenv==1.2.2
openpyxl==3.1.4
